.button {
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background-color: hsl(200, 100%, 50%);
}


.profile-picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}